<div class="map-wrapper">
  <div #gmap class="gmap"></div>
</div>
<div #content id="content" class="offset">
  <div class="profile">
    <div class="flex-profile">
      <div id="profile-img"><img id="profile-face" src="http://ollietinsley.com/img/faces/face-12.jpg" alt="Porcelain Factory of Vista Alegre" height="115" width="83"></div>
      <div id="profile-content">
        <div id="profile-name">
          <div id="profile-header">Name</div>
      		<div id="profile-close" matTooltip="Close" [matTooltipPosition]="'above'" aria-label="Close Profile"><mat-icon>clear</mat-icon></div>
      	</div>
        <div id="profile-desc">
          <div id="profile-date">10/04/2018</div>
          <div id="profile-text">magnis dis parturient montes, nascetur ridiculus mus. Proin vel nisl. Quisque fringilla euismod enim. Etiam gravida molestie arcu. Sed eu nibh vulputate mauris sagittis</div>
          <address id="profile-addr">
        		VISTA ALEGRE ATLANTIS, SA<br>
        		3830-292 Ílhavo - Portugal
      	  </address>
          <div id="profile-contact">
            Phone. +351 234 320 600<br>
            e-mail: geral@vaa.pt<br>
            www: www.myvistaalegre.com
          </div>
        </div>
        <div class="profile-bottom-gradient"></div>
      </div>
    </div>
  </div>
</div>
