@media screen and (max-width:992px) {
  .gmap {
    width: 100vw;
  }
}

@media screen and (min-width:993px) {
  .gmap {
    width: 75vw;
  }
}

.gmap {
  display: inline-block;
  height: Calc(100vh - 100px);
  overflow: hidden;
}

app-map .offset {
  position: absolute;
  left: -1000px;
}

.hide-popup {
  position: absolute;
  left: -5000px;
}
