<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-block pad-0">
              <div #gmap class="gmap"></div>
            </div>
          </div>
          <div>
          <div #content id="content" class="offset">
              <div class="card pad-0">
                <div id="profile-close"></div>
                <div class="card-block pad-0">
                    <div class="table-responsive">
                        <table class="table table-hover pad-0">
                            <tbody>
                                <tr>
                                    <td><a><img id="profile-face" class="img-rounded" src="assets/images/widget/user-3.png" alt="chat-user"></a>
                                    </td>
                                    <td>
                                        <h6 id="profile-header">Josephin John</h6>
                                        <p id="profile-org">Lorem ipsum dolor</p>
                                        <p id="profile-group">Lorem ipsum dolor</p>
                                    </td>
                                    <td>
                                      <p class="review-date">
                                        Added: <span id="profile-date"></span>
                                      </p>
                                      <a><i class="icofont icofont-star f-18 text-c-blue"></i></a>
                                      <a><i class="icofont icofont-star f-18 text-default"></i></a>
                                      <a><i class="icofont icofont-star f-18 text-default"></i></a>
                                      <a><i class="icofont icofont-star f-18 text-default"></i></a>
                                      <a><i class="icofont icofont-star f-18 text-default"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
              <div class="pop-btm"></div>
          </div>
        </div>
      </div>
    </div>
</div>
